body {
    margin: 20px;
}

.page-title {
    text-align: center;
    font-size: 46px;
    color: rgb(180, 180, 180);
    text-shadow: 2px 2px black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    text-align: center;
    width: 200px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}

.card-title {
    color: rgb(43, 92, 226);
    font-size: 22px;
    font-weight: bold;
}